@media (max-width: 400px) {
  .todo-container {
    max-width: 370px !important;
    margin: 0 20px !important;
  }
  .todo-container h1 {
    font-size: 20px;
  }

  .todo-heading {
    margin-bottom: 25px !important;
  }

  .todo-heading svg {
    font-size: 20px;
  }
  .left {
    gap: 10px !important;
  }
  .left h1 {
    font-size: 16px;
    width: 85%;
  }
}
